.channel-name {
	color: white;
}

.description {
	color: white;
}

.resources {
	.preview {
		.preview-img {
			position: relative;
			width: 200px;
			height: 100px;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			.show-ctx-btn {
				position: absolute;
				top: 5px;
				right: 5px;

				opacity: 0;
				transition: opacity .3s;
			}

			&:hover .show-ctx-btn {
				opacity: 1;
			}
		}
		

		.title {
			color: white;
		}
	}
}

#background_click_sink {
	position: fixed;
	top: 0px;
	left: 0px;

	width: 100vw;
	height: 100vh;

	background-color: hsl(0, 0%, 0%, 0.5);
}

#resource_ctx_menu {
	position: fixed;
}