:host {
	display: flex;
	gap: 18px;

	>.left {
		flex-basis: 1400px;

		.image {
			width: 100%;
		}

		.below-image {
			padding-left: 12px;
		}

		.title {
			margin-top: 5px;
			margin-bottom: 10px;
			font-size: 1.2rem;
			line-height: 1.4;
			color: white;
		}

		.author-and-stats-row {
			margin-bottom: 2px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.left {
				display: flex;
				align-items: center;
				gap: 20px;

				.author-and-subs {
					.author-name {
						font-size: 0.9rem;
						color: white;
					}

					.subscribers {
						font-size: 0.8rem;
						color: hsl(0, 0%, 100%, 0.7);

						var {
							font-family: monospace;
						}
					}
				}

				.subscribe-btn {
					border-radius: 100px;
					padding: 8px 12px;
					height: fit-content;

					background-color: hsl(0, 0%, 100%);

					font-size: 0.9rem;
					line-height: 1;

					&:hover {
						background-color: hsl(0, 0%, 100% - 15%);
					}
				}
			}

			.right {
				display: flex;
				align-items: center;
				gap: 15px;

				.views {
					font-size: 0.9rem;
					color: white;
				}
			}
		}

		.details {
			margin-bottom: 10px;
			border-radius: 7px;
			padding: 8px;
			background-color: hsl(0, 0%, 100%, .1);

			.tab-btns {
				margin-bottom: 7px;
				--corner_radius: 5px;

				button {
					padding: 2px 5px;

					font-size: 0.9rem;

					&:first-child {
						border-radius: var(--corner_radius) 0px 0px var(--corner_radius);
					}

					&:last-child {
						border-radius: 0px var(--corner_radius) var(--corner_radius) 0px;
					}
				}
			}

			.tabs {
				.description-tab {
					.text {
						color: white;
					}
				}
			}
		}

		.comments {
			.comment-count {
				margin-bottom: 10px;
				font-size: 0.9rem;
				color: white;
				line-height: 1;

				var {
					font-family: monospace;
				}
			}

			.comment-list {
				display: flex;
				flex-direction: column;
				gap: 15px;

				.comment {
					.top-row {
						display: flex;
						justify-content: space-between;
						align-items: baseline;					

						.user-and-rating {
							display: flex;
							gap: 10px;

							.user-name {
								font-size: 0.9rem;
								font-weight: bold;
								color: white;
							}
	
							.rating {
								display: flex;
								gap: 3px;
			
								.up, .down {
									font-size: 1em;
	
									var {
										font-family: monospace;
									}
								}
			
								.up {
									border-radius: 50px 0px 0px 50px;
								}
			
								.down {
									border-radius: 0px 50px 50px 0px;
								}
							}
						}

						.updated-date {
							font-family: monospace;
							font-size: 0.8rem;
							color: hsl(0, 0%, 100%, .7);
						}
					}

					.text {
						font-size: 0.9rem;
						color: white;
					}

					.replies-row {
						.replies-btn {
							padding: 0px;
							background-color: transparent;

							font-size: 0.8rem;
							color: white;
						}
					}
				}
			}
		}
	}

	>.right {
		flex-grow: 1;

		.recomendations {
			padding-top: 10px;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
}