/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Style Reset */
h1, h2, h3, h4 {
  margin-bottom: 0px;
}

p {
  margin-bottom: 0px;
}

var {
  font-style: normal;
}

button {
  border-style: none;
}

input {
  border: none;
}

/* Theme */
body {
  background-color: hsl(222, 15%, 12%);
}

